@model int

@{
    ViewData["Title"] = "Upload Attachment";
}


<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-sm" style="width: 500px;">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Upload Attachment</h4>
        </div>
        <div class="card-body">
            <form asp-action="UploadAttachment" method="post" enctype="multipart/form-data">
                <input type="hidden" name="LeaveRequestId" value="@Model" />

                <div class="mb-3">
                    <label for="file" class="form-label">Upload File (if required)</label>
                    <input type="file" id="file" name="file" class="form-control" />
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary me-2">Upload</button>
                    <button asp-controller="LeaveRequest" asp-action="GetAllLeaves" class="btn btn-secondary">Skip</button>
                </div>
            </form>

        </div>
    </div>
</div>

